.book-card {
    border: none;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    max-width: 15vw;
    font-family: inherit;
}

.book-card > img {
    width: 15vw;
    height: auto;
    padding: none;
}

.book-card:hover {
    cursor: pointer;
}

.drink-name {
    font-size: 2vw;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .book-card {
        max-width: 50vw;
    }
    
    .book-card > img {
        width: 50vw;
    }

    .drink-name {
        font-size: 6vw;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 870px) and (min-width: 501px)  {
    .book-card {
        max-width: 20vw;
    }
    
    .book-card > img {
        width: 20vw;
    }

    .drink-name {
        font-size: 3vw;
        margin-top: 10px;
    }

    
}